# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
* python
* R
* Scala
* Julia

Some of the commonly used libraries used by Data Scientists include:
<ol>
 <li>Numpy</li>
 <li>Pandas</li>
 <li>Matplotlib</li>
 <li>ggplot2</li>
 <li>Leaflet</li>
</ol>

|Data Science Tools|
|------------------|
|Hadoop|
|Apache Spark|
|Jupyter Notebook|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [ ]:
print(3+4)
print(3-4)
print(3*4)
print(3/4)
print(3%4)

This a simple arithmetic expression to mutiply then add integers.

In [ ]:
(3*4)+5

This will convert 200 minutes to hours by diving by 60.

In [3]:
min=int(input("enter minutes :"))
hours=min/60
print("hours :")
print(hours)

enter minutes : 200

hours :
3.3333333333333335

**Objectives :**
+ Create a Jupyter Notebook.
+ Create Markdown Cells for Introduction.
+ List Popular Languages for Data Science.

## author
keyur kurani